/*----------------------common----------------------*/
.modelsection {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------first banner------------------*/
#model_banner1 {
  background-image: url("../image/model/first_banner.jpg");
}

#model-menu_item {
  width: 100%;
}
#model-menu {
  display: flex;
  justify-content: center;
  padding-left: 250px;
}

.model-menu_items {
  padding-right: 30px;
  color: var(--color-dark-white);
}

#model-shop_item {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
#model-shop {
  display: flex;
}

.model-shop_items {
  padding-right: 30px;
  color: var(--color-dark-white);
}

.model-content {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.model-title {
  padding-top: 50px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  text-align: center;
}

.under-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.under-content_text {
  margin: 0 30px;
  color: var(--color-white);
  text-align: center;
}

.under-content_text p {
  font-size: var(--font-micro);
}

.model-button_white {
  padding: 15px 35px;
  background-color: inherit;
  border: 3px solid var(--color-white);
  color: var(--color-white);
  line-height: 10px;
}

/*----------------------second section----------------------*/
.model-content2 {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.model-content2_left {
  height: 100%;
  max-width: 430px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.model-content2_title {
  color: var(--color-light-black);
  line-height: 36px;
}

.model-content2_caption {
  font-size: var(--font-small);
  color: var(--color-grey);
  padding-top: 20px;
  padding-right: 40px;
}

.model-button_black {
  background-color: inherit;
  padding: 10px 30px;
  border: 3px solid var(--color-black);
}

.model-button_black:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.model-structure {
  position: relative;
  width: 100%;
  height: 100%;
}

.model-structure_img {
  position: absolute;
  background-image: url("../image/model/safety.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; /*가로축은 중앙 세로는 아래*/
  background-size: contain;
  z-index: 2;
}

.model-structure_color {
  position: absolute;
  background-color: #f5f5f5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*----------------------third section----------------------*/

.model-content3 {
  width: 100%;
  height: 100%;
}

.model-content3_up {
  background-image: url("../image/model/third_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.model-content3_up_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.model-content3_up_caption {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-right: 40px;
  margin-bottom: 60px;
}

.model-content3_up_caption1 {
  display: flex;
  justify-content: center;
  height: 40px;
}

.model-content3_up_caption2 {
  text-align: center;
}

.model-content3_up_title {
  color: var(--color-white);
}

.model-content3_up_img {
  height: 40px;
  width: auto;
}

.model-content_up_p {
  color: var(--color-white);
  font-size: var(--font-micro);
  line-height: 18px;
}

.model-content_down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.model-content_utility {
  width: 335px;
  height: auto;
  padding: 48px 16px 48px 0;
}

.utility-title {
  color: var(--color-light-black);
}

.button-utility {
  margin-top: 15px;
}

.model-content_down_right {
  width: 630px;
  height: auto;
}

.model-content_down_right p {
  font-size: var(--font-small);
}

.model-content_down_p {
  margin-top: 15px;
}

/*----------------------fourth section----------------------*/
.model-content4_up {
  background-image: url("../image/model/fourth_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.banner4 {
  height: 124px;
}

/*----------------------fifth section----------------------*/

.model-content5 {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.model-race_car {
  width: 100%;
  height: 100%;
  position: relative;
}

.model-content5_up_content {
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.model-content5_right {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden;
  padding-left: 40px;
}

.model-content5_caption {
  font-size: var(--font-small);

  padding-top: 20px;
  padding-right: 20px;
}

/*----------------------sixth section----------------------*/
#model_banner6 {
}

.model-content6_up {
  background-image: url("../image/model/sixth_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.model-content6_up_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.model-content6_up_caption {
  width: 12%;
  margin: 40px 10px 40px 0;
}

.section6 {
  width: 100%;
  text-align: left;
}

.section6_icon {
  justify-content: flex-start;
}

#banner6 {
  height: 124px;
}

/*----------------------seventh section----------------------*/
#sevnth_banner {
  background-color: var(--color-black);
  display: flex;
}

.black-car {
  width: 90%;
  height: 80%;
}

.list {
  padding-top: 5%;
}

.list-tile_model {
  color: var(--color-white);
  line-height: 36px;
}
