:root {
  /* color */
  --color-white: #ffffff;
  --color-dark-white: #f4f4f5;
  --color-grey: #393c41;
  --color-light-grey: #5c5d61;
  --color-light-black: #181b21;
  --color-black: #000000;

  /* font size*/
  --font-large: 40px;
  --font-midium: 28px;
  --font-regular: 24px;
  --font-small: 14px;
  --font-micro: 12px;

  /*font-weight*/
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /*border*/
  --size-border-radius: 50px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  /* height: 10000px; */
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  line-height: 21px;
}

h1 {
  margin: 0;
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-midium);
  font-weight: var(--weight-semi-bold);
  margin: 0;
}

h3 {
  font-size: var(--font-regular);
}

h4 {
  margin: 0;
  font-size: var(--font-small);
}

h5 {
  font-size: var(--font-micro);
}

p {
  margin: 0;
}

button {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius);
  cursor: pointer;
}
